
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/index/stylesheets/sidebar.css" />
        <link rel="stylesheet" type="text/css" href="/india/stylesheets/inPreDriverStyle.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/india/javascripts/socket.io.js"></script>
        <script src="/india/javascripts/inPreDriverMapjs.js"></script>
        <script src="/india/javascripts/inPreDriverjs.js"></script>
        <script src="/index/javascripts/sidebar.js"></script>
        

        
    </head>

    <body>
        <div id="sidebar-waper">
            <div class="togle-btn" onclick="sidebartoggle()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="sidebar-menue">
                <li class="Dashboard" style="border-bottom: 1px solid #FFF;">
                    <div style="font-size: 25px; text-align: center;"><img style="width: 60px; height: 60px; border-radius: 30px;" src="<%=driver.photo%>"></div>
                    <div class="text-center"><%=driver.name%><br><%=driver.isdCode%><%=driver.mobileNumber%>  </div>
                    
                </li>
                <li class="cash"><a href="/india/preDriverCash">                
                    <i class="fa fa-inr" aria-hidden="true"></i>
                      <span>Cash Collection</span>
                      </a>
                </li>
                <li class="fule"><a href="/india/dutyhoursdetails">                
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>Duty Hours </span>
                    </a>
                </li>
                <li class="insentive" onclick="incentive()">
                    <a href="#">                
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <span>Incentive</span>
                        </a>
                    </li>

                    <li class="salary" >
                        <a href="#">                
                        <i class="fa fa-inr" aria-hidden="true"></i>
                            <span>Salary</span>
                            </a>
                        </li>

                <li class="help" onclick="helpcenter()">
                    <a href="#">                
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <span>Help</span>
                        </a>
                    </li>
                <li class="document" >
                    <a href="#">                
                    <i class="fa fa-file" aria-hidden="true"></i>
                        <span>Document</span>
                        </a>
                    </li> 
                    
                <li class="insurence" >
                    <a href="#">                
                    <i class="fa fa-ambulance" aria-hidden="true"></i>
                        <span>Insurance</span>
                        </a>
                    </li>    
                <li class="Logout" onclick="logout()">
                    <a href="#">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                         <span> Logout</span>
                        </a>
                </li>     
           
            </ul>
        </div>
        
        <div id="main-content">        
            <div id="heder-content">
                <input id="toggle" class="toggle" type="checkbox" role="switch" name="toggle" value="on">
                <label for="toggle" class="slot"></label>
                <div class="curtain"></div>
                <script>
                        // for accessibility only
                        document.getElementById("toggle").addEventListener("change",function() {
                            this.setAttribute("aria-checked",this.checked);
                        });
 
                </script>
            </div>


            <div id="driverFreetoMove">
                <div class="container-fluid">                  
                    <div class="row">                        
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div style="background-color:#facb3d; height: 65vh; text-align: center; " class="thumbnail">
                                <!-- <img style="width: 30%; margin-top: 30px;" src="/india/images/centerpin.png" alt="">
                                <div  class="caption">
                                    <p>23.5858 , 88.36985</p>
                                    <h3>Your Demand Location</h3>
                                    
                                    <p>
                                        <a href="#" class="btn btn-primary"><i class="fa fa-location-arrow" aria-hidden="true"></i></a>
                                        <a  href="#" class="btn btn-default">I am in Location</a>
                                    </p>
                                </div> -->
                            </div>
                        </div>
                        
                    </div> 
                </div>
            </div>
            
            <div id="nofofride">               
               <div class="container-fluid">                  
                  <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                          <p class="text-center">Ride Details</p>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div id="rideList" class="rideList">
                        </div>             
                   
                     </div>               
                </div>
                </div>
            </div>
            <div id="map-msg">
                <img src="/india/images/gif/circle1.gif">
            </div>

            <div id="mapcontent" class="container-fluid"> 
                  <div id="map"></div>               
                
            </div>
            <div id="Offline">
                <div  id="offline-content">Offline</div>
            </div>
   
                <div id="OTP-Content">
                    <!-- <h3>Enter OTP</h3>
                    <input type="number" onkeyup="otpinput()" id="otpp" maxlength="4" > -->
                </div>


                <div id="billAndfeedback">                    
                    <div class="container">                        
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 ">
                               <h2 style="color: rgb(44, 40, 7); text-align: center;">Collection Amount</h2>
                               <p style="font-size: 30px; font-weight: bolder;" class="text-center">&#8377; <span id="amt">142.20</span></p>
                                <p  class="text-center">You Need to Collect Above Amount From Client at End of Journey</p>
                            </div>
                        </div>
                        <div class="row">
                            <div style="border: 2px solid #000; margin-top: 20px;" class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 ">
                                <p class="text-center">How is your Client Behaviour</p>
                                <p class="text-center">Share your Rating</p>
                                <div style="width:75%; margin-left: 13%; ">
                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text">1 star</label>
                                  </div>
                                </div>
                                <br>
                                
                            </div>
                        </div>
        
                        <div style="margin-top: 100px;" class="row">
                            <input type="hidden" id="bookingIDFinish">                                                           
                               <button id="continueNextRide"  type="button" class="btn  btn-primary col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">Continue Next Ride</button>
                        </div>
                        
                    </div>                    
                </div>
                <div id="sos">
                    <a href="tel:100" onclick="emergencycall()"><button type="button" class="btn btn-warning btn-ms"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp; SOS</button></a>
                </div>

                <div id="help-content">                
                    <div class="container-fluid">                        
                        <div style="margin-top: 20px;" class="row">                            
                            <div class="col-xs-12 col-sm-12">
                                <div class="CallCustomer">
                                    Call Customer
                                </div>
                                <div id="CallCustomer">
                                    
                                    <div class="col-xs-9 col-sm-9">
                                        Bardhaman
                                    </div>
                                    <div class="col-xs-3 col-sm-3">
                                        
                                        <a href="tel:+917001998578" onclick="emergencycall()"><button type="button" class="btn btn-warning btn-ms"><i class="fa fa-phone" aria-hidden="true"></i></button></a>
                                        
                                    </div>
                                    
                                </div>

                            </div> 
                            <div class="col-xs-12 col-sm-12">

                               
                               <button onclick="gotoBack()" type="button" class="btn btn-primary">Back</button>
                                
                            </div>
                            
                        </div>                        
                    </div>                
                </div>

                <div id="incentive-content">                    
                    <div class="container-fluid">                        
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 ">
                                <p class="text-center">All Kilomiter and Incentive claculated for this month</p> 
                             </div>
                            <div id="totalkm" class="col-xs-6 col-sm-6 col-xs-offset-3 col-sm-offset-3 ">
                               <!-- <p class="text-center kmtext">Total Kilometer <br> 5000.02</p>  -->
                            </div>
                            <div class="col-xs-10 col-sm-10 col-xs-offset-1 col-sm-offset-1 ">                                
                                <div class="page-header">
                                  <h1><small>Incentive Details</small></h1>
                                  <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="badge">&#8377; 1000</span>
                                        4000 Km
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">&#8377; 2000</span>
                                        5000 km
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">&#8377; 3000</span>
                                        6000 km
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">&#8377; 4000</span>
                                        7000 km
                                    </li>

                                    <li class="list-group-item">
                                        <span class="badge">&#8377; 5000</span>
                                        8000 km
                                    </li>

                                    <li class="list-group-item">
                                        <span class="badge">&#8377; 6000</span>
                                        9000 km
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">&#8377; 7000</span>
                                        10000 km
                                    </li>                                    
                                  </ul>
                                </div>
                             </div>

                        </div>
                        <div class="col-xs-10 col-sm-10 col-xs-offset-1 col-sm-offset-1 ">
                            <button onclick="closeincentive()" type="button" class="btn btn-primary">Back</button>
                        </div>                        
                        
                    </div>                    
                </div>
                      
     
   </div> 

        
       
        
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </script>>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script async defer   
        src="https://maps.googleapis.com/maps/api/js?key=<%=YOUR_API_KEY%>&callback=initMap">
        </script>
    </body>
</html>
